<div class="container">
	<h1>Editing Attribute</h1>

<%= render 'form' %>

<%= link_to 'Show', @attribute, class: "btn btn-default" %>
<%= link_to 'Back', attributes_path, class: "btn btn-default" %>
</div>
