<div class="container">
	<h1>Editing Option</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @option, class: "btn btn-default" %>
	<%= link_to 'Back', options_path, class: "btn btn-default" %>
</div>