<div class="container">
	<h1>Editing Category</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @category, class: "btn btn-defaul" %>
<%= link_to 'Volver', categories_path, class: "btn btn-defaul" %>
</div>